<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="new.css">
        <link rel="stylesheet" media="screen and (max-width: 910px) or (max-width: 560px) " href="phone.css">
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap" rel="stylesheet">
        <title>Ashish Mandal || Photographer</title>
    </head>

    <body>
        <div id="navbar">
            <div class="name">Ash<span>man</span></div>
            <ul class="menu">
                <li><a href="">Home</a></li>
                <li><a href="">VBloger</a></li>
                <li><a href="">Project</a></li>
                <li><a href="">About</a></li>
                <!-- <li><a href="">Event Shoot</a></li> -->
            </ul>
        </div>

        <section id="home">
            <h1 class="welcome">Hii!! I'm <span class="typing"></span></h1>
            <p>We Organised Wedding Events, Events Shoot, Fashion Portfolio and Many More...<br>
                Contact Us According to your need<br>Thanks You
            </p>
            <button>
                <div class="btn">Contact Me
            </button>
        </section>

        <footer>
            <div id="foot">
                <p>Copyright &#169; Ashish Mandal-All Right Received.</p>
                <span>Designed By Virat Patel</span>
            </div>
        </footer>

    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="/typing.js"></script>

</html>
