<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider</title>
    <link rel="stylesheet" href="slider.css">
  </head>

  <body>
    <div class="slide hi-slide">
      <div class="hi-prev"></div>
      <div class="hi-next"></div>
      <ul>
        <li><img src="/static/img/wedd-1.jpg" alt=""></li>
        <li><img src="/static/img/wedd-2.jpg" alt=""></li>
        <li><img src="/static/img/girl.jpg" alt=""></li>
        <li><img src="/static/img/event-1.jpg" alt=""></li>
        <li><img src="/static/img/event-2.jpg" alt=""></li>
        <li><img src="/static/img/event.jpg" alt=""></li>
        <li><img src="/static/img/wedd-1.jpg" alt=""></li>
        <li><img src="/static/img/wedd-2.jpg" alt=""></li>
        <li><img src="/static/img/girl.jpg" alt=""></li>
      </ul>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/jquery.hislide.js" ></script>
    <script>
      $('.slide').hiSlide();
    </script>
  </body>

</html>
