{% extends 'base.html' %}

{% block title %}Certificates
{% endblock title %}

{% block body %}
    <h1 class="text-center text-danger text-brand my-5">Certificates</h1>


    <div class="container px-5 px-5">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <a href="https://drive.google.com/file/d/1itee6Sw73QyJfwwnIgJOdrKScoeBxqM7/view?usp=sharing" title="IRJET Project Certificate"> 
                    <img src="/static/img/IRJET-BE-Project-Virat Patel.jpg" width="259" height="194" class="img-fluid rounded" alt="...">
                </a>
                    <h4 class="" href="" title="">IRJET Project Certificate</h4>
                    <div class="post-excerpt-mini my-2"></div>
            </div><br>

            <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <a href="https://www.hackerrank.com/certificates/ac0ea2e4c188" title="HackerRank Certificate"> 
                    <img src="/static/img/HackerRank Python Certificate.png" width="259" height=194 class="img-fluid rounded" alt="...">
                </a>
                    <h4 class="" href="" title="">HackerRank Certificate</h4>
                    <div class="post-excerpt-mini my-2"></div>
            </div><br>


            <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <a href="https://drive.google.com/file/d/1zFTRCnLwa8Cbhxcx1XtT4iK0U6Pgq3PR/view?usp=sharing" title="Java Certificate"> 
                    <img src="/static/img/Java Certification.jpg" width="259" height=194 class="img-fluid rounded" alt="...">
                </a>
                    <h4 class="" href="" title="">Java Certificate</h4>
                    <div class="post-excerpt-mini my-2"></div>
            </div><br>
        </div><br>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <a href="https://drive.google.com/file/d/1cQdrc9jl41EoRSn5-A4gKHb9KflODDA6/view?usp=sharing" title="SLRTCE Certificate"> 
                    <img src="/static/img/SLRTCE-CSI Certificate.jpg" width="259" height=194 class="img-fluid rounded " alt="...">
                </a>
                    <h4 class="" href="" title="">SLRTCE Certificate</h4>
                    <div class="post-excerpt-mini  my-2"></div>
            </div><br>

            <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <a href="https://drive.google.com/file/d/1CAXlimjcfTLcJTw5Nwdxw4c4tbOSc0Rw/view?usp=sharing" title="D.Y Patil Certificate"> 
                    <img src="/static/img/D.Y Patil-Python Certificate (1).jpg" width="259" height="170" class="img-fluid rounded " alt="...">
                </a>
                    <h4 class="" href="" title="">D.Y Patil Certificate</h4>
                    <div class="post-excerpt-mini my-2"></div>
            </div><br>

            <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <a href="https://drive.google.com/file/d/1qtXgC0P3XdMYwO07RxiYFBSctJmYvb3-/view?usp=sharing" title="IRJET Certificate"> 
                    <img src="/static/img/IRJET-Paper Publish-Virat Patel.jpg" width="259" height=194 class="img-fluid rounded" alt="...">
                </a>
                    <h4 class="" href="" title="">IRJET Certificate</h4>
                    <div class="post-excerpt-mini my-2"></div>
            </div><br>
        </div><br>
            
        <div class="row">   
            <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <a href="https://drive.google.com/file/d/1JyitisWqtKnjvN8qxCPjPA72Vp_I6uxM/view?usp=sharing" title=" GNIET Certificate">
                    <img src="/static/img/GNIET Certificate for  Online Quiz.jpg" class="img-fluid rounded" width="259" height="194" alt="">
                </a>
                    <h4 href="">GNIET Certificate</h4>
                    <div class="post-excerpt-mini my-2"></div>
            </div><br>

            <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <a href="https://drive.google.com/file/d/1CPio7Qg-KtOicd4VWnln6xp75Hkfj4qH/view?usp=sharing" title="BVCE Quize Certificate"> 
                    <img src="/static/img/BVEC Certificate for Mr. Virat Patel for  Python.jpg" width="259" height=194 class="img-fluid rounded " alt="...">
                </a>
                    <h4 class="" href="" title="">BVCE Quize Certificate</h4>
                    <div class="post-excerpt-mini  my-2"></div>
            </div><br>

            <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <a href="https://drive.google.com/file/d/16xHD9fGOOvgfHnv5Qi3rBli0fJHXXwqf/view?usp=sharing" title="SLRTCE Quize Certificate"> 
                    <img src="/static/img/SLRTCE quize.jpg" width="259" height=194 class="img-fluid rounded " alt="...">
                </a>
                    <h4 class="">SLRTCE Quize Certificate</h4>
                    <div class="post-excerpt-mini my-2"></div> 
            </div><br>
        </div><br>
    </div>

    

 
<!-- <h3>This is Certificate Page to Complete.!!!</h3> -->

{% endblock body %}

