{% extends 'base.html' %}

{% block title %}Project
{% endblock title %}

{% block body %}



<h1 class=" text-danger text-center my-3" >Final Year Project</h1>
<!-- <p class="text-center my-4"><img src="/static/img/diagram.png" width="350" height="250" alt=""></p> -->
<a href="https://irjet.net/archives/V7/i9/IRJET-V7I9149.pdf" title="Project Technical Paper"> 
    <img src="/static/img/diagram.png" width="350" height="170" class="rounded mx-auto d-block" alt="...">
</a>

<div class="container">
    <p class="container">Internet of things (IOT) refers to connect things to Internet,
    things are an entity that has intelligence to sense data
    around its environment, and send itto the Internet, where it
    processes the data and make it useful for engineering
    purpose. The Internet Engineering Task Force, IETF,
    provides its own description of the Internet of Things, “The
    Internet of Things is the network of physical objects or
    "things" embedded with electronics, software, sensors, and
    connectivity to enable objects to exchange data with the
    manufacturer, operator and/or other connected devices.<br><br>

    All these definitions talk about the networking and data
    communications along with network services, which are
    realized by wireless sensor networks. These WSNs must be
    designed with sophisticated and extremely efficient
    communication protocols along with sensorswith advanced
    sensing capabilities. This paper also attempts to do the same
    by implementing the wireless sensor network by using NRF
    protocol and send the sensor data on to the IOT framework
    by Wi-Fi module.<br>
    To Read More Click
    <a href="https://irjet.net/archives/V7/i9/IRJET-V7I9149.pdf" title="Patuck Technical Junior College">here
    </p>    
    </a>  

</div>


{% endblock body %}


